{{> header loggedIn = loggedIn}}
<div id="homepage">
    <div class="question-form-container">
        <form>
            <input type="text" placeholder="ask-your-question-here" name="question">
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="login-to-post">
        <p><a href="/login">Login</a> To Post Your Questions</p>
    </div>
</div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}