:root {
  --main-color: #b92b27;
  --main-color-darker: #941e1a;
  --white: #ffffff;
}

.text-main-color {
  color: var(--main-color);
}

.border-main-color {
  border-bottom-style: solid;
  border-width: 4px;
  border-color: var(--main-color);
}

/* icons style */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* icons style end */

.bg-second-color {
  background-color: rgb(233, 233, 233);
}

#left-list {
  margin-left: 20px;
}

#left-list a {
  text-decoration: none;
  padding: 5px;
  color: gray;
  font-size: 13px;
}

.bg-second-color {
  background-color: rgb(233, 233, 233);
}

#left-list {
  margin-left: 20px;
}

#left-list a {
  text-decoration: none;
  padding: 5px;
  color: gray;
  font-size: 13px;
}

#left-list img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.border-gray {
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-width: 1px;
}

.text-gray-dark {
  color: rgb(117, 117, 117);
}

.message {
  color: darkgreen;
  padding: 10px;
  text-align: center;
}

.message.error {
  color: red;
}

/* Homepage styling */

#homepage {
  background-color: antiquewhite;
  min-height: 70vh;
  padding: 20px 50px;
}

#homepage .question-form-container  {
  width: 100%;
}

#homepage .question-form-container input {
  width: 80%;
  padding: 5px;
}

#homepage .question-form-container button {
  padding: 5px 15px;
  width: 19%;

}

#homepage #login-to-post  {
  background-color: white;
  color: black;
  padding: 5px;
}

#homepage #login-to-post p {
  font-size: 19px;
  font-weight: 400;
  text-align: center;
}

/* Footer Styling */

footer  {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  min-height: 20vh;
  padding-top: 10px;
}

footer div  {
  width: 32%;
  height: fit-content;
  text-align: center;
  line-height: 1;
}

footer div p  {
  line-height: .8;
}

footer div ul {
  list-style: none;
}

footer div ul a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
}

/* Login Styling */

.login-page  {
  min-height: 71vh;
  display: flex;
  justify-content: space-between;
}

.login-page > div   {
  width: 50%;
  background-color: bisque;
  padding-top: 100px;
  padding-left: 50px;
}

.login-page > div:last-child   {
  background-color: ghostwhite;
  
}

.login-form div,
.signup-form div {
  padding: 10px 0;
}

.login-form div label,
.signup-form div label {
  width: 100px;
}

.login-form div input,
.signup-form div input {
  width: 80%;

}

.login-form div button,
.signup-form div button {
  width: 50%;
  font-size: 19px;
}

/* Dashboard Styling */
#dashboard-page {
  min-height: 72vh;
}